.button {
    -fx-pref-width: 200px;
    -fx-background-color: transparent;
    -fx-background-radius:3;
    -fx-text-fill: #4CAF50;
    -fx-border-color: #4CAF50;
    -fx-border-width: 2 2 2 2;
    -fx-border-radius: 3;
}

.button:hover {
    -fx-pref-width: 200px;
    -fx-background-color: #4CAF50;
    -fx-background-radius:3;
    -fx-text-fill: white;
    -fx-border-color: #4CAF50;
    -fx-border-width: 2 2 2 2;
    -fx-border-radius: 3;
}

.text-field {
    -fx-min-width: 50;
    -fx-max-width: 200;
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-border-color: #4CAF50;
    -fx-border-top-color: white;
    -fx-border-width: 2 2 2 2;
    -fx-border-radius: 3;
    -fx-insets: 0;
    -fx-padding-top: 25px;
}

.text-field:focused {
    -fx-min-width: 50;
    -fx-max-width: 250;
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-border-color: #4CAF50;
    -fx-border-width: 2 2 2 2;
    -fx-border-radius: 3;
}
